/*to begin with*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:'Open Sans', sans-serif;
}
header{
    height: 10vh;
    padding: 1.8em 1em 3em 1em;
    font-size: 0.85rem;
}
.flex{
    display:flex;
    justify-content: space-between;
}
li{
    list-style: none;
}
li header{
    list-style: none;
    margin-right:1rem;
    color:grey;
    justify-content: baseline;
}

/*inizio sezione uno*/



h1{
    text-align: left;
    font-weight: bold;
    font-size: 70px;
    font-family: 'Anton', sans-serif;
}
p{
    font-size: 0.85rem;
    color:black;
    margin-bottom:1.5rem;
    margin-top: 1.5rem;
}


.sezione-uno{
    background-color: #B9D7EF;
}

.contenitore-uno{
    width: calc(100% - 400px);
    height: calc(100% - 316px);
    margin: 0 auto;
    margin-bottom:3rem;
    position:relative;
    top:3rem;
    left:3rem;
}

.contenitore-due{
    width:calc(100% - 400px);
    margin:0 auto;
    position:relative;
    top:3.5rem;
    left:3rem;
}


.box1{
    width: 28%;
    text-align: left;
    position:relative;
    bottom:1.9rem;
}

.box2{
    width:70%;
}

#immagine-jumbo{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#arrow{
    font-size:2.5rem;
    margin-top:2rem;
}

.inizia{
    background-color: rgba(0, 60, 255, 0.71);
    color:white;
    text-align: center;
    padding:0.30rem 1.1rem;
}
.start{
    background-color: rgba(0, 60, 255, 0.71);
    color:white;
    text-align: center;
    font-size: 0.85rem;
    padding:0.50rem;

}



/*INIZIO SEZIONE DUE*/


h2{
    margin-bottom:2rem;
    font-size:40px;
    font-weight: bold;
    text-align: left;
    font-family:'Open Sans', sans-serif;
}

h4{
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom:2rem;
}

h5{
    font-size:0.90rem;
}

.sezionedue{
    padding-top: 7rem;
    margin:0 auto;
    width: 60%;
    height:100%;
}

.last-container-sezionedue{
    border:2px solid lightgrey;
    padding:1.5rem;
}

.settanta{
    width:72%;
}
.trenta{
    width:23%;
}
.contatta{
    padding:0.50rem;
}
input{
    font-size:0.85rem;
}

.Fatturazioneannuale{
    margin-left:2.5rem;
    margin-right:0.25rem;
}

.fatturazionemensile{
    margin-right:0.25rem;
}

/*colonne sezione due*/


.containercolumn{
    display:flex;
}

.flexcolumn{
    display: flex;
    flex-direction: column;
    width:25%;
    margin-right:calc(25% / 3);
    justify-content: center;
    font-size:0.85rem;
}


.titolocolonna{
    margin-top:3.2rem;
    margin-bottom:0;
    width: 100%;
    border:2px solid lightgrey;
    text-align:center;
    padding:0.50rem;
}

.contenutocolonna{
    margin-top:0;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border:2px solid lightgrey;
    display:flex;
    flex-direction:column;
}


.grey{
    color:grey;
}

/*SEZIONE TRE*/


.sectionthree{
    margin-top: 7rem;
}

.container-sezione-tre{
    width: 60%;
    height:100%;
    margin:0 auto;

}

.secondo-contenitore-section-three{
    width:55%;
    margin-left:1.20rem;
    margin-right:1.4rem;
}
#paragrafo-section-three{
    width:96%;

}
.bottone{
    border:2px solid lightgrey;
    padding:0.50rem;
    width:10rem;
    text-align: center;
}
#immagine-partner{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/*SEZIONE QUATTRO*/

.sezione-quattro{
    width: 60%;
    height:100%;
    display:flex;
}

.container-section-four{
    margin:0 auto;
    width: calc(100% / 3 -3rem);
    margin-right:1rem;
}
.marginauto{
    margin:0 auto;
    background-color: ;
}
.immagini{
    object-fit: cover;
    height: 100%;
    width: 100%;
}